{% extends 'base.html' %}

{% load static %}
{% block styl %}<link rel="stylesheet" href="{% static 'app/css/style.css' %}" />{% endblock styl %}

{% block title %}Cart{% endblock title %}





{% block main-content %}


{% if request.session.cart|length < 1 %}
<!-- Empty Cart area start -->
<div class="empty-cart-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% comment %} <div class="cart-heading">
                    <h2>Your cart item</h2>
                </div> {% endcomment %}
                <div class="empty-text-contant text-center">
                    <i class="pe-7s-shopbag"></i>
                    <h3>There are no items in your cart</h3>
                    <a class="empty-cart-btn" href="{% url 'home' %}">
                        <i class="fa fa-arrow-left"> </i>Continue booking
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Empty Cart area end -->

{% else %}

{% load cart_tag %}


<!-- Cart Area Start -->
<br>
<center><h3 class="cart-page-title">Your cart items 🛒</h3></center>
<div class="cart-main-area pt-90px pb-90px">
    
    <div class="container">
       
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Event Banner</th>
                                    <th>Event Name</th>
                                    <th>Price </th>
                                    {% comment %} <th>Quantity</th> {% endcomment %}
                                    {% comment %} <th>Subtotal</th> {% endcomment %}
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for key,value in request.session.cart.items %}

                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img class="img-responsive ml-15px" src="{{value.image}}" alt="" /></a>
                                    </td>
                                    <td class="product-name">
                                      <a href="#">{{value.name}}</a>
                                    </td>
                                    <td class="product-price-cart"><span class="amount">Rs. {{value.price}}</span></td>
                                    {% comment %} <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                        
                                        <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}">+</a>
                                        
                                        <input class="" type="text" name="qtybutton" value="{{value.quantity}}" />
                                        
                                        <a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}">-</a>
                                        
                                        </div>
                                    </td> {% endcomment %}
                                    {% comment %} <td class="product-subtotal">{{ value.price|multiply:value.quantity }}</td> {% endcomment %}

                                    <td class="product-remove">
                                        {% comment %} <a href="#"><i class="fa fa-pencil"></i></a> {% endcomment %}
                                        {% comment %} <a href="{% url 'item_clear' key %}"><i class="fa fa-times"></i></a> {% endcomment %}
                                        <a href="{% url 'item_clear' key %}" class="uk-button uk-button-danger-outline">Remove</a>

                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="{% url 'home'  %}">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    {% comment %} <button>Update Shopping Cart</button> {% endcomment %}
                                    <a href="{% url 'cart_clear' %}">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-lm-30px">
                      <form action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <div class="cart-tax">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Ask a Question ?</h4>
                            </div>
                            <div class="tax-wrapper">
                                <p>Feel free to contact us..</p>
                                <div class="tax-select-wrapper">
                                  <div class="tax-select mb-25px">
                                    <label>
                                        Name
                                    </label>
                                    <input type="text" name="name"/>
                                </div>
                                    <div class="tax-select mb-25px">
                                      <label>
                                          Email 
                                      </label>
                                      <input type="text" name="email"/>
                                  </div>
                                    <div class="tax-select mb-25px">
                                        <label>
                                            Message
                                        </label>
                                        <input type="text" name="message"/>
                                    </div>
                                    <button class="cart-btn-2 container" type="submit">Ask</button>
                                </div>
                            </div>
                        </div>
                    </div>
                  </form>
                    <div class="col-lg-4 col-md-6 mb-lm-30px">
                        <div class="discount-code-wrapper">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                            </div>
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form>
                                    <input type="text" name="name" readonly placeholder="No Coupon Code available"/>
                                    <button class="cart-btn-2 container" type="submit">Apply Coupon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mt-md-30px">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Total Price  <span>Rs. {{cart_total_amount}}</span></h5>
                            <div class="total-shipping">
                                <h5>Platform Charge <span> Rs. 10.0</span></h5>    
                            </div>
                            <hr>
                            <h4 class="grand-totall-title">Grand Total <span>Rs. {{cart_total_amount|add:10}}</span></h4>
                            
                            <a href="#">Proceed to Checkout</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
<!-- Cart Area End -->



{% endblock main-content %}