{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock title %}





{% block main-content %}

<div class="uk-section">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m" data-uk-grid>
      <div>
        <form class="uk-search uk-search-default uk-width-1-1">
          <div class="uk-grid-small" data-uk-grid>
            <div class="uk-width-expand">
              <input class="uk-input uk-form-large uk-border-rounded-medium" type="search" placeholder="Search anything">
            </div>
            <div class="uk-width-auto">
              <button class="uk-button uk-button-large uk-button-primary">Search</button>
            </div>
            
          </div>
        </form>
      </div>
      
      <div>
        <div class="uk-grid-small uk-child-width-auto@m uk-flex uk-flex-right" data-uk-grid>
          <div>
            <select class="uk-select uk-select-light">
              <option>Any Type</option>
              <option>Free</option>
              <option>Paid</option>
              <option>All</option>
            </select>
          </div>
          <div>
            <select class="uk-select uk-select-light">
              <option>Any Category</option>
              <option>Web Design</option>
              <option>Marketing</option>
              <option>Accounting</option>
              <option>Business</option>
              <option>Design</option>
              <option>All</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <hr class="uk-button-secondary">

   <!-- event card -->
  
      <!-- card 1 -->



      <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match uk-margin-medium-top" data-uk-grid>
        {% for x in details %}
        <div>
          <div class="uk-card uk-card-small uk-card-default uk-card-hover uk-border-rounded-large uk-overflow-hidden">
            <div class="uk-card-media-top uk-inline uk-light">
              <img src="/{{x.image}}">
              <div class="uk-position-cover uk-overlay-xlight"></div>
              <div class="uk-position-small uk-position-top-right">
                <span class="uk-label uk-text-bold uk-text-price">{{x.price_type}}</span>
              </div>
              <div class="uk-position-small uk-position-top-left">
                {% comment %} <a href="#" class="uk-icon-button uk-like uk-position-z-index uk-position-relative" data-uk-icon="heart"></a>
                <br> <br> {% endcomment %}
                 {% comment %} <a href="{% url 'cart_add' x.id %}" class="uk-icon-button uk-like uk-position-z-index uk-position-relative" data-uk-icon="cart"></a>  {% endcomment %}
              </div>             
            </div>
            <div class="uk-card-body">
              <div data-uk-grid>
                <div class="uk-width-auto uk-text-center">
                  <span class="uk-display-block uk-text-small uk-text-bold uk-text-primary uk-text-uppercase"></span>
                  <span class="uk-display-block uk-h4 uk-margin-xsmall-top">{{x.name}}</span>
                  <span class="uk-display-block uk-h4 uk-margin-xsmall-top"></span>
                </div>
                <div class="uk-width-expand">
                  <h3 class="uk-card-title">{{x.date}}</h3>
                  <hr class="uk-button-secondary">
                  <p class="uk-text-muted uk-text-small">{{x.location}}</p>
                </div>
              </div>
            </div>
            <a href="{% url 'EventDescription' x.id %}" class="uk-position-cover"></a>
          </div>
        </div>
        {% endfor %}

    </div>
      
  </div>



{% endblock main-content %}