{% load static %}

<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<!--  --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- / -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>bookmyevent | {% block title %}{% endblock title %}</title>
  <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png" > -->
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&amp;display=swap" rel="stylesheet">
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}

  {% block styl %}{% endblock styl %}

  <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
  

  <script src="{% static 'app/js/uikit.js' %}"></script>



  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>

<body class="uk-background-body">

{% comment %} for footer in body class ->  d-flex flex-column min-vh-100 {% endcomment %}

    <header id="header">
        <div data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent ; top: #header">
          <nav class="uk-navbar-container uk-letter-spacing-small uk-text-bold">
            <div class="uk-container">
              <div class="uk-position-z-index" data-uk-navbar>
                <div class="uk-navbar-left">
                  <a class="uk-navbar-item uk-logo" href="{% url 'home' %}">bookmyevent</a>
                </div>
                <div class="uk-navbar-right">
                  <ul class="uk-navbar-nav uk-visible@m" data-uk-scrollspy-nav="closest: li; scroll: true; offset: 80">
                    
                    <li class="uk-active"><a href="{% url 'home' %}">Events</a></li>

                    <li ><a href="#">My Bookings</a></li>
                    <li >
                      
                      <a href="#">Pages</a>
                      <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li ><a href="{% url 'wishlist' %}">Wishlist</a></li>
                          <li ><a href="{% url 'contact' %}">Contact Us</a></li>
                          <li ><a href="{% url 'about' %}">About Us</a></li>
                          {% comment %} <li ><a href="{% url 'User_Logout' %}">Logout</a></li> {% endcomment %}
                        </ul>
                      </div>            
                    </li>
                  </ul>

                  {% if user.is_authenticated %}
                  
                  <div class="uk-navbar-item">
                    <div><a class="uk-button uk-button-danger-outline" href="{% url 'User_Logout' %}">Logout</a></div>
                  </div> 

                  {% else %}
                  <div class="uk-navbar-item">
                    <div><a class="uk-button uk-button-primary-outline" href="{% url 'User_Register' %}">Sign In</a></div>
                  </div>

                  {% endif %}
                 
                  {% comment %} <div class="uk-navbar-item">
                    <div><a class="uk-button uk-button-danger-outline" href="{% url 'cart_detail' %}">{{request.session.cart|length}} | Wishlist 💖</a>
                 </div> </div> {% endcomment %}

                  <div class="uk-navbar-item">
                    <div><a class="uk-button uk-button-danger-outline" href="{% url 'cart_detail' %}">{{request.session.cart|length}} | Cart 🛒</a>
                 </div> </div>

                 <div class="uk-navbar-item">
                  <div><button class="uk-button uk-button-warning-outline" href="#">😎 {{request.user}}</button>
               </div> </div>
                          
                  <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
                    data-uk-navbar-toggle-icon></span></a>
                </div>
              </div>
            </div>
          </nav>
        </div>
    

        {% block desc-banner %}{% endblock desc-banner %}

    </header>

    {% comment %} <hr class="uk-button-secondary"> {% endcomment %}

{% block main-content %}{% endblock main-content %}



{% comment %} <footer class="bg-light text-center text-lg-start p-2 mt-auto">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright | 
      <a class="text-dark" href="https://bookmyevent.com/">bookmyevent</a>
    </div>
    <!-- Copyright -->
  </footer> {% endcomment %}


















<script src="{% static 'app/js/datepicker.js' %}"></script>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>